{% extends 'sub_base.html' %}

{% block content %}
    <div class="text-start">
        <h1 class="mb-3">О Сервисе</h1>
        <p>Easy Document Creator - сервис генерации документов из подготовленных вами шаблонов и данных.</p>
        <p>Для работы сервиса достаточно заранее подготовить шаблон документа.</p>
        <p>Шаблон должен быть одного из двух форматов DOCX или XLSX.</p>
        <p>После чего создаём процесс указывая в качестве шаблона ранее подготовленный документ</p>
        <p>Для получения готового документа достаточно выполнить процесс загрузив соответсвующий набор данных</p>

        <p class="mt-5">Подробнее о функционале и возвожностях сервиса читайте в документации</p>
    </div>

{% endblock %}