{% extends 'sub_base.html' %}

{% block content %}
    <h1>Содержание</h1>
    <div class="d-flex border rounded" >
        <nav>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="#process">
                        Процессы
                    </a>
                </li>
                <li class="nav-item ">
                     <a class="nav-link" href="#token">
                        Шаблоны и токены
                    </a>
                </li>
                <li class="nav-item ">
                     <a class="nav-link" href="#web_api">
                        Форматы запросов к web-api
                    </a>
                </li>
            </ul>
        </nav>
        <nav>
            <ul class="nav flex-column">
                <li class="nav-item ">
                     <a class="nav-link" href="#api_key">
                        API ключи
                    </a>
                </li>
                <li class="nav-item ">
                     <a class="nav-link" href="#use_api">
                        Использование API
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="text-start">
        <h1 class="mb-3 mt-3">Документация</h1>
        {#    Процессы    #}
        <h3 id="process">Процессы</h3>
        <p>Процесс - инструмент для создания процессов. Предосавляющий возможноссть сохранения шаблона,
        для его последующего использования. Благодаря процессам вы сможете создавать документы за несколько шагов</p>

        {#    Шаблоны и токены   #}
        <h3 id="token">Шаблонизация и токены</h3>
        <p>Токен – уникальное имя поля. Используется для идентификации заполняемой области.</p>
        <p>Шаблонизация – процесс создания шаблона документа. Для этого необходимо все поля в документе заменить на токены
            обёрнутые в открывающиеся «{ {» и закрывающиеся символы «} }», пример «{ {name} }».
            Наименование отправленных данных для заполнения шаблона должно соответствовать наименованию токенов.</p>

        {#    Форматы запросов к web-api    #}
        <h3 id="web_api">Форматы запросов к web-api</h3>
        <p>Помимо непосредственного взаимодействия через графический интерфейс система также предоставляет дистанционное средство взаимодействия. Данное средство реализовано при помощи REST подхода.
            Все запросы к данному Web API – сервису можно разделить на два типа:</p>
        <p>• одноразовые;</p>
        <p>• многоразовые.</p>
        <p>Одноразовые операции предназначены для одноразовых действий и не могут быть повторно использовании.
            Они не требуют заранее созданных процессов, так как всё необходимое приходит в одном запросе.</p>
        <p>Многоразовые операции предназначены для многоразового использования, они требуют подготовки,
            поэтому для начала нужно создать процесс, настроить его, после чего к нему можно будет обратиться.</p>

        <p>Также в одноразовых и многоразовых операциях выделяются два подтипа:</p>
        <p>• сиюминутные;</p>
        <p>• отложенные.</p>

        <p>Сиюминутные операции происходят сразу же.  Вы просто вызываете метод API и получаете ответ с результатами.
            Этот подход хорош для обработки небольшого объема данных и для целей тестирования.
            Данный тип операций не требует get запросов, так как результат отправляется сразу же,
            а клиент после отправки изначального запроса продолжает непрерывно ждать.
            Если ваш запрос не может быть обработан в течение 30 секунд, то сервис вернет сообщение об ошибке.</p>

        <p>Отложенные операции необходимы если вы хотите выполнить длительную операцию.
            После завершения операции сервис отправит номер с идентификатор готового документа. Д
            анный идентификатор потребуется для получения файла.</p>
        {#    API ключи   #}
        <h3 id="api_key">API ключи</h3>
        <p>Для защиты сервиса от нежелательных запросов, присутствует механизм защиты в виде API ключей.
            API ключ служит ключом для проверки запроса. Если запрос не содержит ключ или ключ является не верным
            , то запрос не будет обработан.</p>
        <p>Создать API-ключ можно на соответсвующей странице.s</p>

        <h3 id="use_api">Использование API</h3>
        <p>Реализованное web-api предназначено в первую очередь для программистов,
            так как оно является основой взаимодействия для сторонних сервисов.</p>

        <h5>Создание XLSX документов</h5>
        <p>Для создания можно использовать следующий перечень запрсов:</p>

        <p>Одноразовый, сиюминутный - {{ url_for('xlsx.api_now_file_xlsx') }}</p>
        <p>Многоразовый, сиюминутный - {{ url_for('xlsx.api_now_file_xlsx_with_process', process_id=1) }}</p>
        <p>Многоразовый, отложенный - {{ url_for('xlsx.api_file_xlsx_with_process',  process_id=1) }}</p>

        <h5>Создание DOCX документов</h5>
        <p>Для создания можно использовать следующий перечень запрсов:</p>

        <p>Одноразовый, сиюминутный - {{ url_for('docx.api_now_file_docx') }}</p>
        <p>Многоразовый, сиюминутный - {{ url_for('docx.api_now_file_docx_with_process', process_id=1) }}</p>
        <p>Многоразовый, отложенный - {{ url_for('docx.api_file_docx_with_process',  process_id=1) }}</p>

        <h5>Response сервера:</h5>
        <p>Сиюминутный - готовый файл</p>
        <p>Отложенный, содержит ответ с ключевым параметром - строка «location»
            где располагается ссылка на скачивание документа. </p>

    </div>

{% endblock %}