{% extends 'base.html' %}

{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1>
            {% block title %}
                Процесс {{ process.name }}
            {% endblock %}
        </h1>
    </div>
    <label for="exampleFormControlFile1">Описание</label>
    <div class="card mb-3">
        <div class="card-body">
            <p class="card-text">{{ process.description }}</p>
        </div>
    </div>
    <form action="{% if process.file_type == "xlsx" %} {{ url_for('xlsx.file_xlsx', process_id=process.id) }} {% endif %}
                 {% if process.file_type == "docx" %} {{ url_for('docx.file_docx', process_id=process.id) }} {% endif %}"
          method="POST" enctype=multipart/form-data>
        <div class="mb-3">
            <label class="form-label" for="customFile">Загрузить данные</label>
            <input type="file" name=file class="form-control" id="customFile">
        </div>
        <button class="btn btn-primary">Выполнить</button>
    </form>
    {% if myfiles %}
    <div class="mt-3 table-wrapper has-mobile-cards">
        <table class="table">
            <thead>
                <tr>
                    <th draggable="false" class="is-sortable is-unselectable" >
                        <div class="th-wrap">
                            <span class="is-relative">
                                Название
                            </span>
                        </div>
                    </th>
                    <th draggable="false" class="is-sortable is-unselectable" >
                        <div class="th-wrap">
                            <span class="is-relative">
                                Опции
                            </span>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
            {% for myfile in myfiles %}
                <tr draggable="false" class="">
                    <td data-label="Название" class="">
                        {{myfile.filename}}
                    </td>
                    <td>
                        <a class="bi bi-trash btn btn-outline-danger" href="{{ url_for('process.delete_result_file', id=myfile.id) }}"></a>
                        <a class="bi bi-download btn btn-outline-success" href="{{ url_for('process.download_result_file', id = myfile.id) }}"></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
    {% if not myfiles %}
        <hr/>
        <div class="m-5 text-center">Файлы отсутствуют</div>
    {% endif %}
{% endblock %}