{% extends 'base.html' %}

{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1>
            {% block title %}
                Процесс
            {% endblock %}
        </h1>
    </div>
    <form action="{{ url_for('xlsx.file_xlsx', process_id=process.id) }}" method="POST" enctype=multipart/form-data>

        <div class="form-group">
            <label for="exampleFormControlFile1">JSON документ</label>
            <input type="file" name=file class="form-control-file">
         </div>
        <button class="btn btn-primary">Выполнить</button>
    </form>
{% endblock %}