{% extends 'base.html' %}

{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
         <h1>{% block title %} Процессы {% endblock %}</h1>
    </div>
    <div class="d-flex pb-3">
    <form action="{{ url_for('process.get_process') }}" method=get>
         <button type="submit" name="button" id="button" class="btn btn-success">
                 Создать процесс
         </button>
    </form>
    </div>
    {% if _processes %}
    <div class="table-wrapper has-mobile-cards">
        <table class="table">
            <thead>
                <tr>
                    <th draggable="false" class="is-sortable is-unselectable" >
                        <div class="th-wrap">
                            <span class="is-relative">
                                Название
                            </span>
                        </div>
                    </th>
                    <th draggable="false" class="is-sortable is-unselectable is-current-sort">
                        <div class="th-wrap">
                            <span class="is-relative">
                                Описание
                            </span>
                        </div>
                    </th>
                    <th draggable="false" class="is-sortable is-unselectable" >
                        <div class="th-wrap">
                            <span class="is-relative">
                                Опции
                            </span>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
            {% for process in _processes %}
                <tr draggable="false" class="">
                    <td data-label="Название" class="">
                        {{process.name}}
                    </td>
                    <td data-label="Описание" class="">
                        {{process.description}}
                    </td>
                    <td>
                        <a href="{{ url_for('process.get_process', id=process.id) }}" role="button" class="bi bi-pencil btn btn-outline-primary" >
                            <span class="glyphicon glyphicon-hand-up"></span>
                        </a>
                        <a class="bi bi-trash btn btn-outline-danger" href="{{ url_for('process.delete_process_data', id=process.id) }}"></a>
                        <a class="bi bi-download btn btn-outline-success" href="{{ url_for('process.download_file', id=process.id) }}"></a>
                    </td>
                    <td>
                        <a href="{{ url_for('process.open_process', id=process.id) }}" role="button" class="bi bi-chevron-double-right btn btn-success" >
                        </a>
                    </td>
                    <td hidden>{{ process.file_id }}></td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
    {% if not _processes %}
        <p>Ещё ни один процесс не создан</p>
    {% endif %}
{% endblock %}


